<div class="form-container">
  <form [formGroup]="dailyTasksForm" (submit)="onSubmit()">
    <div class="checkbox-container">
      <div class="checkbox-row">
        <label for="dailyTask">Gallon Of Water</label>
        <input type="checkbox" formControlName="gallonWater" />
      </div>
      <div class="checkbox-row">
        <label for="dailyTask">10 Pages Personal Development</label>
        <input type="checkbox" formControlName="tenPages" />
      </div>
      <div class="checkbox-row">
        <label for="dailyTask">Workout</label>
        <input type="checkbox" formControlName="dailyWorkout" />
      </div>
      <div class="checkbox-row">
        <label for="dailyTask">Decompress Time</label>
        <input type="checkbox" formControlName="decompressTime" />
      </div>
    </div>
    <div>
      <label for="dailyTask">Daily Task:</label>
      <textarea id="dailyTask" rows="4" formControlName="dailyTask"></textarea>
    </div>
    <button [disabled]="!dailyTasksForm.valid" type="submit">Submit</button>
    <!-- @if(submittedValue){
    {{ dailyTasksForm.value | json }}
    } -->
    <div *ngFor="let submission of submittedForms">
      <div>Daily Task: {{ submission.dailyTask }}</div>
      <button (click)="deleteDailyTask(submission.id)">Delete Task</button>
    </div>
  </form>
</div>
